<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href="./client.css" />
  <link rel="manifest" href="/manifest.json">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />

  <title><%= title %></title>
</head>
<body>
<script nonce="<%= nonce %>">
  <% if (locals.apolloState) {%>
  window.__APOLLO_STATE__ = <%- apolloState %>;
  <%}%>
  <% if (locals.serverContext) {%>
  window.__SERVER_CONTEXT__ = <%- serverContext %>;
  <%}%>
</script>
<div id='root'><%- html %></div>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js" nonce="<%= nonce %>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js" nonce="<%= nonce %>"></script>
<script src="/client.bundle.js"></script>
</body>
</html>
